<app-header></app-header>
<div class="container-fluid form-align">
  <p-card header="Updates" [style]="{ width: '650px' }">
    <i
      class="pi pi-arrow-left abs-icon"
      style="font-size: 1.5rem"
      (click)="toggle()"
    ></i>
    <div class="card flex justify-content-center">
      <p-card>
        <p class="m-0 margin-nil">
          <span><span style="font-weight: 500;">Orange Business</span> has an update on your Job
            Application</span><span class="font-time"> 25 minutes ago</span>
        </p>
        <hr>
        <p class="m-0 margin-nil">
          <span><span style="font-weight: 500;">Orange Business</span> has an update on your Job
            Application</span><span class="font-time"> 25 minutes ago</span>
        </p>
        <hr>
        <p class="m-0 margin-nil">
          <span><span style="font-weight: 500;">Orange Business</span> has an update on your Job
            Application</span><span class="font-time"> 25 minutes ago</span>
        </p>
      </p-card>
    </div>
  </p-card>
  <div></div>
</div>
