@import '../landing-page/landing-page.component.scss';

::ng-deep  .p-card .p-card-body {
    position: relative;
}

::ng-deep  .p-card .p-card-title {
    margin-left: 56px;
}

::ng-deep .p-card .abs-icon {
    cursor: pointer;
    position: absolute;
    padding: 0;
    top: 26px;
}

.bold{
    font-weight: bold;
}

.font-time{
    font-size: 12px;
    color: gray;
}
.margin-nil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
