
<div class="container-fluid set_alignment" >


  <p-card header="Welcome!"  [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://img.freepik.com/free-vector/man-search-hiring-job-online-from-laptop_1150-52728.jpg?w=900&t=st=1689030349~exp=1689030949~hmac=d815360ede736b804c9ffb92a8be2311866955c47973aeda91628bd8d41601f0" />
    </ng-template>
    <h4>
      Ready for the next step?

    </h4>
    <p style="margin-top: 5px;">Create an account for tools to help you
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Job Seeker" icon="pi pi-check" class="set_button_align" (click)="redirectTo()"></p-button>
        <p-button label="Employer" icon="pi pi-times" class="set_button_align" styleClass="p-button-outlined" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card>

</div>
