@import '../sign-up/sign-up.component.scss';


.set_alignment{
  height: unset !important;
}
.resume-link{
    margin: 25px 0;
}
.resume-link a{
    text-decoration: none;
    color: #3B82F6;
}

::ng-deep .p-inputtext {
    margin-left: 0px;
}
