<app-header></app-header>
<p-toast></p-toast>
<div class="container-fluid set_alignment" *ngIf="!selected">
  <p-card [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../assets/images/resume.svg" />
    </ng-template>
    <h4>Please choose one of the following</h4>
    <p style="margin-top: 5px">
      Create or upload resume to help you apply for jobs.
    </p>
    <p-toast></p-toast>
    <ng-template pTemplate="footer">
      <p-button
      *ngIf="loggedInUserResume"
        label="View/Edit Your Resume"
        class="set_button_align"
        (click)="setResumeType(true)"

      ></p-button>
      <p-button
      *ngIf="!loggedInUserResume"
        label="Build Your Resume"
        class="set_button_align"
        (click)="setResumeType(true)"

      ></p-button>
      <p-button
        label="Upload Resume"
        class="set_button_align"
        (click)="setResumeType(false)"
        styleClass="p-button-outlined"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
    </ng-template>
  </p-card>
</div>

<!-- <div class="card" *ngIf="selected && resumeTypeBuild"> -->
<div class="container-fluid form-align" *ngIf="selected && resumeTypeBuild">
  <p-card header="Build Your Resume" [style]="{ width: '650px' }">
    <i
      class="pi pi-arrow-left abs-icon"
      style="font-size: 1.5rem"
      (click)="toggle()"
    ></i>
    <div>
      <div class="col-md-12">
        <form
          novalidate
          (ngSubmit)="save()"
          [formGroup]="resumeBuilderForm"
          autocomplete="false"
        >
          <div class="textfield">
            <label htmlFor="first name" for="firstNameId"
              >First Name<span style="color: red">*</span></label
            >
            <input
              type="text"
              pInputText
              id="firstNameId"
              formControlName="firstName"
              aria-describedby="firtname-help"
              placeholder="First Name"
              class="set_input"

            />
            <div
              *ngIf="
                submitted && resumeBuilderForm.controls['firstName'].invalid
              "
              class="invalid-feedback"
            >
              <div>First Name is required</div>
            </div>
          </div>
          <div class="textfield">
            <label htmlFor="first name" for="lastNameId"
              >Last Name<span style="color: red">*</span></label
            >
            <input
              type="text"
              pInputText
              id="lastNameId"
              formControlName="lastName"
              aria-describedby="lastname-help"
              placeholder="Last Name"
              class="set_input"
            />
            <div
              *ngIf="
                submitted && resumeBuilderForm.controls['lastName'].invalid
              "
              class="invalid-feedback"
            >
              <div>Last Name is required</div>
            </div>
          </div>
          <div class="textfield">
            <label htmlFor="email Id" for="emailId"
              >Email<span style="color: red">*</span></label
            >
            <input
              type="email"
              pInputText
              id="emailId"
              formControlName="email"
              aria-describedby="lastname-help"
              placeholder="Email"
              class="set_input"
            />
            <div
              *ngIf="submitted && resumeBuilderForm.controls['email'].invalid"
              class="invalid-feedback"
            >
              <div>Email is required</div>
            </div>
          </div>
          <div class="textfield">
            <label htmlFor="phone Id" for="phoneId"
              >Phone<span style="color: red">*</span></label
            >
            <input
              type="tel"
              pInputText
              id="phoneId"
              formControlName="phone"
              aria-describedby="phone-help"
              placeholder="Phone Number"
              class="set_input"
            />
            <div
              *ngIf="submitted && resumeBuilderForm.controls['phone'].invalid"
              class="invalid-feedback"
            >
              <div>Phone Number is required</div>
            </div>
          </div>
          <div class="flexContainer">
            <div class="exp-align">
              <label for="experienceId" class="heading-label">Experience</label>
              <div>
                <i
                  class="pi pi-plus-circle"
                  style="font-size: 1.5rem"
                  (click)="addExperience()"
                  pTooltip="Add Experience"
                ></i>
              </div>
            </div>
            <div
              formArrayName="experienceBlocks"
              *ngFor="
                let experience of experienceBlocks.controls;
                let i = index
              "
            >
              <div
                [ngClass]="{
                  'experience-block': experienceBlocks.controls.length > 1
                }"
                [formGroupName]="i"
              >
                <div class="textfield">
                  <label attr.for="{{ 'titleId' + i }}">Title</label>
                  <input
                    type="text"
                    pInputText
                    id="{{ 'titleId' + i }}"
                    formControlName="title"
                    aria-describedby="title-help"
                    placeholder="Ex: Software Engineer"
                    class="set_input"
                  />
                </div>
                <div class="textfield">
                  <label attr.for="{{ 'companyId' + i }}">Company</label>
                  <input
                    type="text"
                    pInputText
                    id="{{ 'companyId' + i }}"
                    formControlName="company"
                    aria-describedby="company-help"
                    placeholder="Ex: Microsoft"
                    class="set_input"
                  />
                </div>
                <div class="textfield">
                  <label attr.for="{{ 'locationId' + i }}">Location</label>
                  <input
                    type="text"
                    pInputText
                    id="{{ 'locationId' + i }}"
                    formControlName="location"
                    aria-describedby="location-help"
                    placeholder="Ex: London, United Kingdom"
                    class="set_input"
                  />
                </div>
                <div class="row">
                  <div class="textfield col-md-6">
                    <label attr.for="{{ 'startDateId' + i }}">Start Date</label>
                    <input
                      type="date"
                      pInputText
                      id="{{ 'startDateId' + i }}"
                      formControlName="startDate"
                      aria-describedby="date-help"
                      placeholder=""
                      class="set_input"
                    />
                  </div>
                  <div class="textfield col-md-6">
                    <label attr.for="{{ 'endDateId' + i }}">End Date</label>
                    <input
                      type="date"
                      pInputText
                      id="{{ 'endDateId' + i }}"
                      formControlName="endDate"
                      aria-describedby="date-help"
                      placeholder=""
                      class="set_input"
                    />
                  </div>
                </div>
                <div class="textfield">
                  <label attr.for="{{ 'descId' + i }}">Description</label>
                  <textarea
                    type="text"
                    rows="5"
                    pInputTextarea
                    id="{{ 'descId' + i }}"
                    formControlName="description"
                    aria-describedby="description-help"
                    placeholder="Description"
                    class="set_input"
                  ></textarea>
                </div>
                <div class="trash-icon">
                  <hr *ngIf="i !== experienceBlocks.controls.length - 1" />
                  <i
                    class="pi pi-trash"
                    style="font-size: 1.5rem"
                    (click)="removeExperience(i)"
                    pTooltip="Delete Above Experience"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flexContainer">
            <div class="exp-align">
              <label for="experienceId" class="heading-label">Education</label>
              <div>
                <i
                  class="pi pi-plus-circle"
                  style="font-size: 1.5rem"
                  (click)="addEducation()"
                  pTooltip="Add Education"
                ></i>
              </div>
            </div>
            <div
              formArrayName="education"
              *ngFor="let experience of education.controls; let i = index"
            >
              <div
                [ngClass]="{
                  'experience-block': education.controls.length > 1
                }"
                [formGroupName]="i"
              >
                <div class="textfield">
                  <label attr.for="{{ 'titleId' + i }}"
                    >Level of Education</label
                  >
                  <input
                    type="text"
                    pInputText
                    id="{{ 'titleId' + i }}"
                    formControlName="level_of_education"
                    aria-describedby="education-help"
                    placeholder="Ex: Bachelors, Diploma, High School"
                    class="set_input"
                  />
                </div>
                <div class="textfield">
                  <label attr.for="{{ 'companyId' + i }}">Field of Study</label>
                  <input
                    type="text"
                    pInputText
                    id="{{ 'companyId' + i }}"
                    formControlName="field"
                    aria-describedby="field-help"
                    placeholder="Ex: Computer Science"
                    class="set_input"
                  />
                </div>
                <div class="textfield">
                  <label attr.for="{{ 'locationId' + i }}">School Name</label>
                  <input
                    type="text"
                    pInputText
                    id="{{ 'locationId' + i }}"
                    formControlName="school_name"
                    aria-describedby="schoolName-help"
                    placeholder="Ex: Concordia University"
                    class="set_input"
                  />
                </div>
                <div class="row">
                  <div class="textfield col-md-6">
                    <label attr.for="{{ 'startDateId' + i }}">Start Date</label>
                    <input
                      type="date"
                      pInputText
                      id="{{ 'startDateId' + i }}"
                      formControlName="startDate"
                      aria-describedby="date-help"
                      placeholder=""
                      class="set_input"
                    />
                  </div>
                  <div class="textfield col-md-6">
                    <label attr.for="{{ 'endDateId' + i }}">End Date</label>
                    <input
                      type="date"
                      pInputText
                      id="{{ 'endDateId' + i }}"
                      formControlName="endDate"
                      aria-describedby="date-help"
                      placeholder=""
                      class="set_input"
                    />
                  </div>
                </div>
                <div class="trash-icon">
                  <hr *ngIf="i !== experienceBlocks.controls.length - 1" />
                  <i
                    class="pi pi-trash"
                    style="font-size: 1.5rem"
                    (click)="removeEducation(i)"
                    pTooltip="Delete Above Education"
                  ></i>
                </div>
              </div>

            </div>
            <button class="btn btn-primary" type="submit" style="width: 100px">
              Submit
            </button>
          </div>
        </form>
        <div style="    padding: 20px;
        padding-left: 0px;">
          <p-checkbox [(ngModel)]="selectedResumeType" value="form" (onChange)="toggleResumeType($event)"  inputId="ny"></p-checkbox>
        <label for="ny" style="margin-left: 6px;">Set as default</label>
        </div>

      </div>
    </div>
  </p-card>
</div>

<div class="container-fluid set_alignment" *ngIf="selected && !resumeTypeBuild">
  <p-card [style]="{ width: '360px' }">

    <ng-template pTemplate="header">
      <i
      class="pi pi-arrow-left "
      style="font-size: 1.5rem;padding: 20px;cursor: pointer;"
      (click)="toggle()"
    ></i>
      <img alt="Card" src="../../../assets/images/resume.svg" />
    </ng-template>
    <h4>Please upload your resume</h4>

    <ng-template pTemplate="footer">
      <input pInputText (change)="onFileSelected($event)" class="resumeText" type="file" id="file">
      <button pButton (click)="displayPdf()" style="margin-top: 10px;" *ngIf="fileName != null">{{fileName}}</button>
      <div style="    padding: 20px;
      padding-left: 0px;">
        <p-checkbox [(ngModel)]="selectedResumeType1" (onChange)="toggleResumeType($event)"  value="upload" inputId="ny1"></p-checkbox>
      <label for="ny1" style="margin-left: 6px;">Set as default</label>
      </div>

    </ng-template>


</p-card>

</div>

